<template>
  <div class="flex flex-col justify-center items-center pt-0">
    <p class="text-white text-center lg:text-base pb-6 sm:px-1 sm:text-sm">
      ¿Hay algo mejor que los perritos? Es difícil pensarlo, pero
      <span class="lg:text-lg sm:text-base">¡sí!</span><br />
      <span class="lg:text-xl text-pink-500 sm:text-base">Gipherrito</span>
      es la app que te da lo mejor de los perritos y los gifs en el mismo sitio.
    </p>

    <logo></logo>

    <p class="text-gray-50 text-center pt-4 md:text-lg sm:text-sm sm:px-1">
      Solo escribe una palabra relacionada con perritos y la magia del buscador
      hará el resto.
    </p>
  </div>
</template>

<script>
import Logo from "./Logo.vue";

export default {
  name: "Landing-text",
  components: {
    Logo,
  },
};
</script>

<style></style>
