<template>
  <div class="relative group">
    <div
      class="
        absolute
        -inset-0.5
        bg-gradient-to-r
        from-pink-600
        to-purple-600
        rounded-full
        filter
        blur-md
        opacity-100
        animate-blob
      "
    ></div>
    <img
      class="relative rounded-full lg:h-80 sm:h-72 py-6"
      src="https://i.pinimg.com/originals/e7/e6/94/e7e694a59e20efc2f7ddae28c588c07f.gif"
      alt="cheems bailando, gif"
    />
  </div>
</template>

<script>
export default {
  name: "Logo",
};
</script>

<style></style>
