<template>
  <navbar />
  <main>
    <p class="text-gray-200 w-3/4 mx-auto text-center mt-4">
      Este proyecto fue desarrollado a manita, con amor y curiosidad por <a class="text-purple-400 text-md" href="https://github.com/maranyil">Mara Mulato</a>.
      Dediqué 3 días y medio <span class="opacity-20">(lo que permitieron los efectos de la Sputnik-V)</span> a aprender y emocionarme con Tailwind y VueJs.
      Sé que todavía falta dominio del Framework, pero sin duda me quedan muchas ganas de seguir explorando todo el potencial del mismo.
    
    <img src="@/assets/tehua.jpg" class="rounded-3xl lg:h-80 lg:w-80 h-1/3 object-cover mx-auto p-5"/>
  
  <span class="text-purple-400">Un saludo para Tehua, mi mejor compañera al aprender JavaScript.</span>
  </p>
  </main>
</template>

<script>
import Navbar from "../components/nav/Navbar.vue";


export default {
  name: "About",
  components: {
    Navbar,
  },
};
</script>

<style></style>
