<template>
  <navbar />
  <main>
    <div class="flex flex-col justify-evenly lg:mt-8 sm:mt-1.5">
      <landing-text />
      <go-btn />
    </div>
  </main>
</template>

<script>
import Navbar from "../components/nav/Navbar.vue";
import LandingText from "../components/landing/Landing-text.vue";
import GoBtn from "../components/nav/GoBtn.vue";

export default {
  name: "Landing",
  components: {
    Navbar,
    LandingText,
    GoBtn,
  },
};
</script>
