<template>
  <navbar />
  <main>
  <search @fetch-giphies="onFetch" :recents="recents" />
  <gif-list :giphies="giphies" />
  </main>
</template>

<script>
// @ is an alias to /src

import Navbar from "../components/nav/Navbar.vue";
import Search from "../components/gif-list/Search.vue";
import GifList from "../components/gif-list/GifList.vue";

export default {
  name: "MainSearch",
  components: {
    Navbar,
    Search,
    GifList,
  },
  data() {
    return {
      giphies: [],
      recents: [],
    };
  },
  methods: {
    onFetch(giphies) {
      this.giphies = giphies;
    },
  },
};
</script>
