<template>
  <div class="bg-gray-800 flex flex-wrap justify-center md:px-20 sm:px-2 py-1">
    <div
      v-for="gif in giphies"
      :key="gif.id"
      :gif="gif"
      :style="`background-image: url(${gif.images.original.url})`"
      class="bg-cover h-72 w-72 rounded-xl filter mx-1 my-1 justify-center"
    >
      <button
        @click="favPuppies"
        class="
          text-gray-300
          h-8
          w-8
          rounded-full
          ml-64
          mt-2
          focus:bg-gray-200 focus:text-red-700 focus:animate-ping
          linear
        "
      >
        <font-awesome-icon icon="heart"></font-awesome-icon>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "GifList",
  props: {
    giphies: [],
  },
};
</script>

<style scoped></style>
