<template>
  <ul class="rounded h-10 mx-auto lg:px-32 sm:px-8 sm:h-12 overflow-auto">
    <li
      @click="searchAgain(perrimput)"
      class="
        bg-white
        rounded
        lg:text-md
        sm:text-lg
        font-bold
        px-4
        cursor-pointer
        border-t-2 border-gray-800
      "
      v-for="(perrimput, index) in recents"
      :key="index"
    >
      <font-awesome-icon icon="history" class="text-pink-300" />
      {{ perrimput }}
    </li>
  </ul>
</template>

<script>
export default {
  name: "Recents",
  emits: ["searchAgain"],
  props: {
    perrimput: String,
    recents: Array,
  },
  methods: {
    searchAgain(perrimput) {
      this.$emit("searchAgain", perrimput);
    },
  },
};
</script>
