<template>
  <form
    ref="form"
    @submit.prevent="performSearch"
    class="bg-gray-800 flex justify-center lg:px-32 sm:px-8 py-2"
  >
    <input
      type="text"
      placeholder="Quiero buscar un perrito..."
      v-model="form.perrimput"
      class="
        focus:outline-none
        focus:ring-2
        focus:ring-pink-500
        focus:border-transparent
        w-3/4
        h-12
        md:text-lg
        rounded-l
        px-2
      "
    />
    <button
      type="submit"
      class="
        bg-pink-600
        md:text-lg
        font-semibold
        w-1/4
        text-gray-100
        tracking-widest
        rounded-r
        h-12
      "
    >
      Buscar
    </button>
  </form>
  <recents
    :recentPerrito="form.perrimput"
    :recents="recents"
    ref="newSearch"
    @searchAgain="searchAgain($event)"
  />
</template>

<script>
import Recents from "./Recents.vue";

export default {
  name: "Search",
  components: {
    Recents,
  },
  emits: ["fetch-giphies"],
  data() {
    return {
      form: {
        perrimput: "",
      },
      recents: JSON.parse(localStorage.getItem("recents")) || [],
      recentPerrito: "",
      favPups: JSON.parse(localStorage.getItem("favPups")) || [],
    };
  },
  methods: {
    performSearch() {
      //Esta API_KEY es para únicamente para fines demostrativos
      let API_KEY = "AEkmDBl72hwVmwHbjtX2U5Xt46wFg1pc";
      let link =
        "https://api.giphy.com/v1/gifs/search?api_key=" +
        API_KEY +
        "&q=perrito+ " +
        `${this.form.perrimput}` +
        "&limit=30&offset=0&rating=g&lang=es";

      fetch(link, {
        headers: { "Content-type": "application/json" },
      })
        .then((res) => res.json())
        .then((gifs) => {
          this.giphies = gifs.data;
          this.$emit("fetch-giphies", gifs.data);
          console.log(this.giphies);
        })
        .catch((error) => {
          console.log("Oh no! There was a problem:", error);
        });

      this.saveRecent();
    },

    //Save recent searches
    saveRecent() {
      if (!this.form.perrimput) {
        return;
      }
      this.recents.push(this.form.perrimput);
      this.storeRecents();
      this.form.perrimput = "";
    },
    storeRecents() {
      const parsed = JSON.stringify(this.recents);
      localStorage.setItem("recents", parsed);
    },

    // Search again the word we already save
    searchAgain(recentPerrito) {
      this.form.perrimput = recentPerrito;
      this.performSearch();
    },
  },
  mounted() {
    this.performSearch();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
