<template>
  <router-link to="/search" class="mx-auto my-4">
    <button
      class="
        bg-purple-600
        text-gray-300
        h-14
        w-32
        rounded
        hover:bg-gray-100 hover:text-purple-800
        transform
        hover:-translate-y-1 hover:scale-110
        duration-200
        ease-out
      "
    >
      <font-awesome-icon class="animate-bounce" icon="dog" /> Guau, guau
    </button>
  </router-link>
</template>

<script>
export default {
  name: "GoBtn",
};
</script>

<style></style>
