<template>
  <header id="header" class="sticky top-0">
    <nav
      class="
        relative
        flex flex-wrap
        items-center
        justify-between
        px-2
        py-3
        bg-pink-600
        mb-3
      "
    >
      <div
        class="
          container
          px-4
          mx-auto
          flex flex-wrap
          items-center
          justify-between
        "
      >
        <div
          class="
            w-full
            relative
            flex
            justify-between
            lg:w-auto
            px-4
            lg:static lg:block lg:justify-start
          "
        >
          <router-link
            class="
              text-sm
              font-bold
              leading-relaxed
              inline-block
              mr-4
              py-2
              whitespace-nowrap
              uppercase
              text-white
            "
            to="/"
          >
            Gipherrito
            <font-awesome-icon icon="dog" class="hover:animate-spin text-xl" />
          </router-link>
          <button
            class="
              text-white
              cursor-pointer
              text-xl
              leading-none
              px-3
              py-1
              border border-solid border-transparent
              rounded
              bg-transparent
              block
              lg:hidden
              outline-none
              focus:outline-none
            "
            type="button"
            @click="toggleNavbar()"
          >
            <font-awesome-icon icon="bars" />
          </button>
        </div>
        <div
          v-bind:class="{ hidden: !showMenu, flex: showMenu }"
          class="lg:flex lg:flex-grow items-center"
        >
          <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
              <router-link
                class="
                  px-3
                  py-2
                  flex
                  items-center
                  text-xs
                  uppercase
                  font-bold
                  leading-snug
                  text-white
                  hover:opacity-75
                "
                to="/search"
              >
                <font-awesome-icon icon="search" />Buscar
              </router-link>
            </li>

            <li class="nav-item">
              <router-link
                class="
                  px-3
                  py-2
                  flex
                  items-center
                  text-xs
                  uppercase
                  font-bold
                  leading-snug
                  text-white
                  hover:opacity-75
                "
                to="/about"
              >
                <font-awesome-icon icon="coffee" />Acerca de
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      showMenu: false,
    };
  },
  methods: {
    toggleNavbar() {
      this.showMenu = !this.showMenu;
    },
  },
};
</script>

<style scoped></style>
